body{
    margin-top: 140px;
    margin-left: 100px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin: 0;
}
.video img{
    width: 100%;
}
.video-preview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}
.thumbnail{
    border-radius: 10px;
}
.thumbnail-1{
    position: relative;
}
.video-info{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
    margin-top: 10px;
}
.channel-profile{
    border-radius: 50px;
}
.video-title{
    font-weight: 600;
    margin-bottom: 10px;
}
.video-author{
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
}
.video-stats{
    font-size: 15px;
    color: gray;
}
.shorts{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.shorts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
.shorts-height{
    height: 480px;
    background-color: rgb(213, 213, 213);
    border-radius: 10px;
}
.shorts-grid img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 100px
}
.absolute{
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

@media(max-width: 700px) {
    .video-preview {grid-template-columns: 1fr;}
}
@media(width: 701px - 1100px){
    .video-preview {grid-template-columns: 1fr 1fr;}
}
@media(min-width: 701px){
    .video-preview {grid-template-columns: 1fr 1fr;}
}
@media(min-width: 1101px) {
    .video-preview {grid-template-columns: 1fr 1fr 1fr;}
}


@media(max-width: 700px) {
    .shorts-grid {grid-template-columns: 1fr 1fr ;}
}
@media(width: 701px - 1100px){
    .shorts-grid {grid-template-columns: 1fr 1fr 1fr;}
}
@media(min-width: 701px){
    .shorts-grid {grid-template-columns: 1fr 1fr;}
}
@media(width: 1101px -1300px ) {
    .shorts-grid {grid-template-columns: 1fr 1fr 1fr;}
}
@media(min-width: 1101px) {
    .shorts-grid {grid-template-columns: 1fr 1fr 1fr;}
}
@media(min-width: 1300px) {
    .shorts-grid {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
}
